In [1]:
import pandas as pd
import yfinance as yf
import numpy as np
import ta as ta

"""
    Market: S&P 500
    Define trend: price above 200-day MA
    Entry: 10-period RSI below 30 (buy on next day's open)
    Exit: 10-period RSI above 40 or after 10 trading days (sell on next day's open)
"""

"\n    Market: S&P 500\n    Define trend: price above 200-day MA\n    Entry: 10-period RSI below 30 (buy on next day's open)\n    Exit: 10-period RSI above 40 or after 10 trading days (sell on next day's open)\n"

In [2]:
pd.options.mode.chained_assignment = None

In [40]:
# create the DataFrame using YahooFinance
df = yf.download('^GSPC', start='1995-01-01')

[*********************100%***********************]  1 of 1 completed

In [41]:
# calculation of the 200-period MA using TA Lib
df['SMA200'] = ta.trend.sma_indicator(df.Close, window=200)
df = df.dropna()
df

,Open,High,Low,Close,Adj Close,Volume,SMA200
Date,,,,,,,
1995-10-16,584.500000,584.859985,582.630005,583.030029,583.030029,300750000,526.440200
1995-10-17,583.030029,586.780029,581.900024,586.780029,586.780029,356380000,527.078550
1995-10-18,586.780029,589.770020,586.270020,587.440002,587.440002,411270000,527.712200
1995-10-19,587.440002,590.659973,586.340027,590.650024,590.650024,406620000,528.363750
1995-10-20,590.650024,590.659973,586.780029,587.460022,587.460022,389360000,528.997650
...,...,...,...,...,...,...,...
2022-03-04,4342.120117,4342.120117,4284.979980,4328.870117,4328.870117,4558250000,4466.048032
2022-03-07,4327.009766,4327.009766,4199.850098,4201.089844,4201.089844,5506330000,4466.257881
2022-03-08,4202.660156,4276.939941,4157.870117,4170.700195,4170.700195,6237000000,4466.332083
2022-03-09,4223.100098,4299.399902,4223.100098,4277.879883,4277.879883,4220180000,4466.736233
2022-03-10,4252.549805,4264.509766,4209.799805,4260.680176,4260.680176,1736645000,4467.098984

In [42]:
# calculation of the 10-period RSI using TA Lib
df['RSI'] = ta.momentum.rsi(df.Close, window=10)
df = df.dropna()
df

,Open,High,Low,Close,Adj Close,Volume,SMA200,RSI
Date,,,,,,,,
1995-10-27,576.719971,579.710022,573.210022,579.700012,579.700012,379230000,531.991200,39.209518
1995-10-30,579.700012,583.789978,579.700012,583.250000,583.250000,319160000,532.560550,49.383103
1995-10-31,583.250000,586.710022,581.500000,581.500000,581.500000,377390000,533.117800,45.236468
1995-11-01,581.500000,584.239990,581.039978,584.219971,584.219971,378090000,533.690350,52.172050
1995-11-02,584.219971,589.719971,584.219971,589.719971,589.719971,397070000,534.304200,62.766554
...,...,...,...,...,...,...,...,...
2022-03-04,4342.120117,4342.120117,4284.979980,4328.870117,4328.870117,4558250000,4466.048032,43.596639
2022-03-07,4327.009766,4327.009766,4199.850098,4201.089844,4201.089844,5506330000,4466.257881,34.220713
2022-03-08,4202.660156,4276.939941,4157.870117,4170.700195,4170.700195,6237000000,4466.332083,32.380516
2022-03-09,4223.100098,4299.399902,4223.100098,4277.879883,4277.879883,4220180000,4466.736233,44.149671
2022-03-10,4252.549805,4264.509766,4209.799805,4260.680176,4260.680176,1736645000,4467.098984,42.820766

In [43]:
# creating a Signal column to get the signal if a condition is met
df['Signal'] = np.where((df.Close > df.SMA200) & (df.RSI < 30), True, False)
df

,Open,High,Low,Close,Adj Close,Volume,SMA200,RSI,Signal
Date,,,,,,,,,
1995-10-27,576.719971,579.710022,573.210022,579.700012,579.700012,379230000,531.991200,39.209518,False
1995-10-30,579.700012,583.789978,579.700012,583.250000,583.250000,319160000,532.560550,49.383103,False
1995-10-31,583.250000,586.710022,581.500000,581.500000,581.500000,377390000,533.117800,45.236468,False
1995-11-01,581.500000,584.239990,581.039978,584.219971,584.219971,378090000,533.690350,52.172050,False
1995-11-02,584.219971,589.719971,584.219971,589.719971,589.719971,397070000,534.304200,62.766554,False
...,...,...,...,...,...,...,...,...,...
2022-03-04,4342.120117,4342.120117,4284.979980,4328.870117,4328.870117,4558250000,4466.048032,43.596639,False
2022-03-07,4327.009766,4327.009766,4199.850098,4201.089844,4201.089844,5506330000,4466.257881,34.220713,False
2022-03-08,4202.660156,4276.939941,4157.870117,4170.700195,4170.700195,6237000000,4466.332083,32.380516,False
2022-03-09,4223.100098,4299.399902,4223.100098,4277.879883,4277.879883,4220180000,4466.736233,44.149671,False
2022-03-10,4252.549805,4264.509766,4209.799805,4260.680176,4260.680176,1736645000,4467.098984,42.820766,False

In [50]:
# creating the trading logic
buying_dates = []
selling_dates = []

for i in range(len(df)-11):
    if df.Signal.iloc[i]:
        buying_dates.append(df.iloc[i+1].name)
        for j in range(1,11):
            if df['RSI'].iloc[i+j] > 40:
                selling_dates.append(df.iloc[i+j+1].name)
                break
            elif j == 10:
                selling_dates.append(df.iloc[i+j+1].name)

In [51]:
frame = pd.DataFrame({'Buying_dates': buying_dates, 'Selling_dates': selling_dates})
real_trades = frame[frame.Buying_dates > frame.Selling_dates.shift(1)]
real_trades = frame[:1].append(real_trades)
real_trades

/tmp/ipykernel_527/1762273426.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  real_trades = frame[:1].append(real_trades)

   Buying_dates Selling_dates
0    1996-04-12    1996-04-16
1    1996-07-12    1996-07-19
4    1996-12-17    1996-12-19
5    1997-04-01    1997-04-09
9    1997-04-14    1997-04-16
10   1997-10-28    1997-10-29
11   1998-08-05    1998-08-18
14   1999-05-26    1999-05-27
15   1999-08-05    1999-08-16
19   2000-01-31    2000-02-01
20   2004-03-12    2004-03-18
21   2004-05-11    2004-05-24
22   2005-03-23    2005-03-31
26   2006-05-18    2006-05-26
31   2007-02-28    2007-03-09
36   2007-07-30    2007-08-07
38   2010-02-01    2010-02-03
39   2010-05-07    2010-05-11
41   2011-03-17    2011-03-21
42   2011-06-07    2011-06-15
47   2012-04-11    2012-04-13
48   2012-05-15    2012-05-30
53   2013-08-20    2013-08-23
55   2014-01-28    2014-01-31
57   2014-02-04    2014-02-07
58   2014-08-01    2014-08-11
61   2014-12-16    2014-12-18
63   2016-09-12    2016-09-13
64   2016-11-03    2016-11-08
67   2017-04-17    2017-04-18
68   2018-02-06    2018-02-14
70   2018-03-23    2018-03-27
72   2018-10-11    2018-10-17
74   2019-05-14    2019-05-16
75   2019-08-06    2019-08-09
76   2019-10-03    2019-10-07
77   2020-02-26    2020-03-05
79   2020-10-29    2020-11-04
80   2021-09-21    2021-09-24
82   2022-01-20    2022-02-01

In [52]:
# calculating profits
profits = df.loc[real_trades.Selling_dates].Open.values - df.loc[real_trades.Buying_dates].Open.values  
profits_trades = len([i for i in profits if i > 0]) 
win_rate = ((profits_trades)/(len(profits)))*100
print(f'Win Rate: {win_rate}%')

Win Rate: 90.0%

In [53]:
# calculating relative profits per trade
rel_profits = \
    (df.loc[real_trades.Selling_dates].Open.values - df.loc[real_trades.Buying_dates].Open.values)/df.loc[real_trades.Buying_dates].Open.values
print(f'Relative profit (%) per trade: {rel_profits.mean()*100}%')

Relative profit (%) per trade: 1.2725173449894207%

In [54]:
# calculating Net profits in %
net_profit = (((rel_profits+1).cumprod())-1)*100
print(f'Total net profit (%) was : {net_profit[-1]}%')

Total net profit (%) was : 65.34789667039666%

In [55]:
# calculating maximun Drawdown
max_dd = rel_profits.min()
print(f'Maximum drawdown was: {max_dd*100}%')

Maximum drawdown was: -2.0446496120450695%